/* static/style.css */
body {
    font-family: 'Arial', sans-serif;
    background: url('../static/1ocean_theme.jpg') no-repeat center center fixed;  
    background-size: cover;
    color: #ffffff;  
}

.bg-marine, .theme-header {
    background: url('/static/theme.png') no-repeat center center;  
    background-size: cover;
}

.theme-header {
    height: 300px;  
}

.container.dashboard-container {
    background-color: rgba(0, 0, 0, 0.75); 
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.dashboard-title, .welcome-message {
    margin-bottom: 20px;
}

.dashboard-title {
    color: #f8f9fa; 
}

.welcome-message {
    color: #adb5bd;  
}

.dashboard-buttons a {
    margin-right: 10px; /* Space between buttons */
}
