<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Biosecurity Guide</title>
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="homepage-body">
    <header class="theme-header py-5 mb-4 bg-marine">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 mt-5 mb-2">Biosecurity Ocean Guide</h1>
                    <p class="lead mb-5">Dedicated to maintaining the health of our oceans.</p>
                </div>
            </div>
        </div>
    </header>
    
    
    <div class="container dashboard-container">
        <div class="row">
            <div class="col-lg-12 mb-4 text-center">
                <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
                <a href="{{ url_for('register') }}" class="btn btn-success">Register</a>
            </div>
        </div>
    </div>

        
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
