 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sources</title>
     
</head>
<body>
    <div class="container">
        <h2>Sources</h2>
        <p>The content for the Ocean Pest and Disease Guide has been sourced from the following websites, as well as through our own research:</p>
        <ul>
            <li><a href="https://www.mpi.govt.nz/biosecurity/pests-and-diseases-not-in-new-zealand/ocean-pests-and-diseases-not-in-nz/" target="_blank" rel="noopener noreferrer">Ministry for Primary Industries - Ocean Pests and Diseases not in NZ</a></li>
            <li><a href="https://www.marinebiosecurity.org.nz/what-are-marine-pests/" target="_blank" rel="noopener noreferrer">Marine Biosecurity New Zealand - What are Marine Pests?</a></li>
            <li><a href="https://www.marinebiosecurity.co.nz/images/archive/2013/marine-pest-id-guide-2013.pdf" target="_blank" rel="noopener noreferrer">Marine Biosecurity New Zealand - Marine Pest ID Guide 2013 (PDF)</a></li>
        </ul>
    </div>
</body>
</html>
